.poll {

    &__question {
        margin: 0 auto;
        color: #555;
    }

    &__votes {
        margin-top: 6px;
        font-size: 14px;
        color: #aaa;
        margin-bottom: 30px;
    }

    &__delete {
        margin-top: 30px;
        text-align: center;
    }
}

.answer {
    background: #fafafa;
    cursor: pointer;
    margin: 10px auto;
    position: relative;

    &:hover {
        opacity: 0.6;
    }

    &__info {
        display: inline-block;
        padding: 10px 20px;
    }

    &__percent {
        height: 100%;
        position: absolute;
        box-sizing: border-box;

        &--a {
            border-left: 4px solid #d91b42;
            background: rgba(217,27,66,0.2);
        }

        &--b {
            border-left: 4px solid #45c496;
            background: rgba(69,196,150,0.2);
        }
    }
}